* {
  appearance: none;
  padding: 0;
}

html, body {
  margin: 0;
  background-color: #50314E;
  font-family: "Rubik-Regular";
  color: white;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  appearance: none;
}

h1 {
  font-size: 50px;
  width: fit-content;
  text-align: center;
}


h2 {
  background-color: inherit;
  width: fit-content;
}


.link {
  cursor: pointer;
  user-select: none;
}