


* {
  margin: 0;
  background-color: #50314E;
  font-family: "Rubik-Regular";
  color: white;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




h1 {
  font-size: 40px;
  width: fit-content;
}


h2 {
  background-color: inherit;
  width: fit-content;
}


.link {
  cursor: pointer;
}